name: Publish
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Verify commit exists in origin/master
      run: |
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains | grep origin/master
    - name: Set VERSION variable from tag
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Download Dalamud
      run: |
        curl https://goatcorp.github.io/dalamud-distrib/${{vars.DALAMUD_VERSION}}/latest.zip --output latest.zip
        mkdir -p ~/Dalamud
        unzip latest.zip -d ~/Dalamud
    - name: Build
      run: dotnet build ./Dalamud.DrunkenToad/Dalamud.DrunkenToad.csproj --configuration Release /p:Version=${VERSION}
    - name: Pack
      run: dotnet pack ./Dalamud.DrunkenToad/Dalamud.DrunkenToad.csproj --configuration Release /p:Version=${VERSION} --no-build --output .
    - name: Push
      run: dotnet nuget push ./Dalamud.DrunkenToad/bin/Release/Dalamud.DrunkenToad.${VERSION}.nupkg --skip-duplicate --no-symbols --source https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}
